@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300&display=swap,family=Orbitron&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Orbitron&display=swap');





.nome{
    color: white;
    font-size: 60px;
    padding-left: 200px;
    margin-top: 100px;
    font-family: 'Exo 2', sans-serif;
    
}


.sou{
    padding-left: 200px;
    font-size: 30px;
    font-family: monospace;
    margin-top: -45px;
    color: rgb(67, 146, 136);
}



@keyframes pulse {
    0%, 100% {
      transform: scale(1); 
    }
    50% {
      transform: scale(0.8); 
    }
  }
  
  .icone {
    font-size: 3em;
    margin-right: -40px;
    animation: pulse 2s infinite; 
    padding-left: 72px;

}

.box-icone{
    margin-left: 20px;
}
  


.resumo{
    font-family: 'Exo 2', sans-serif;
    font-size: 20px;
    padding-left: 200px;
    margin-top: 80px;
    color: white;
    
}


.in{
    margin-left: 200px;
    box-shadow: 0 0 10px rgba(33, 226, 200, 0.8);
    width: 20px;
    padding: 5px 5px;
    border-radius: 10px;
}

.in:hover{
    background-color: rgb(67, 146, 136);
    border-radius: 10px ;
    width: 20px;
    padding: 5px 5px;
    
    
}




.github{
    margin-left: 250px;
    margin-top: -34px;
    box-shadow: 0 0 10px rgba(33, 226, 200, 0.8);
    width: 20px;
    padding: 5px 5px;
    border-radius: 10px;
}

.github:hover{
    background-color: rgb(63, 131, 122);
    border-radius: 10px ;
    width: 20px;
    padding: 5px 5px;
    
    
}





@media screen and (max-width: 768px) {

    .nome {
        font-size: 35px; 
        padding-left: 50px;
        
    }

    .sou {
        font-size: 20px;
        margin-top: -20px;
        padding-left: 50px;
    }

    .resumo {
        font-size: 16px;
        margin-top: 100px;
        padding-left: 50px;
    }
    .icone {
        font-size: 2em; 
        margin-right: -75px;
        animation: pulse 2.5s infinite; 
        padding-left: 82px;
        
    }

    .in{
        margin-top: 20px;
        margin-left: 50px;
        
        
    }

   

    .github{
        margin-left: 95px;
    }

   

  
}


@media screen and (max-width: 768px){
    .box-icone{
        margin-left: -8%;
        
        
    }
}




