@media screen and (max-width:768px) {
    .habilidades{
        font-size: 20px;
        
    }

    .titulos{
        font-size: 15px;
        margin-left: 22px;
    }

    .paragrafos{
        font-size: 10px;
        margin-left: 22px;
    }

    .icone-habil{
        font-size: 32px;
        margin-top: -0px;
        margin-left: 22px;

    }
}
